@import "variables";

#page-header {
  display: grid;
  place-items: center;
  gap: 5px;
  margin: auto;
  padding: 25px 20px 0;
  grid-template-columns: 60px auto 55px;

  .logo,
  .h1-logo {
    color: $dark;
    text-decoration: none;
  }

  .logo {
    svg {
      object-fit: cover;
      grid-column: 1/2;
      grid-row: 1;
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }
  }

  .h1-logo {
    grid-column: 2/3;
    grid-row: 1;
    justify-self: baseline;

    h1 {
      font-weight: 600;
      line-height: 1em;
      max-width: 100px;
      font-size: 28px;
    }
  }

  button {
    grid-column: 3/4;
    grid-row: 1;
  }

  &.home,
  &.menu {
    grid-template-columns: 135px 223px;
    max-width: fit-content;
    gap: 20px;

    svg {
      width: 135px;
      height: 135px;
    }

    h1 {
      font-size: 64px;
      max-width: 223px;
    }
  }

  @media (min-width: 968px) {
    grid-template-columns: 60px 100px auto;

    nav {
      justify-self: end;

      ul {
        li {
          display: inline-block;
          margin-right: 20px;
          text-transform: uppercase;
          font-size: 16px;

          &:last-of-type {
            margin: 0;
          }

          a {
            svg {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 420px) {

    &.home,
    &.menu {
      grid-template-columns: 110px 150px;

      h1 {
        font-size: 48px;
        max-width: fit-content;
      }

      svg {
        width: 110px;
        height: 110px;
      }
    }
  }

  @media screen and (min-width: 1160px) {
    z-index: 1;

    &.home,
    &.menu {
      position: absolute;
      padding: 0;
      left: 20px;
      top: 255px;
      grid-template-columns: 200px auto;

      h1 {
        font-size: 96px;
        max-width: 333px;
      }

      svg {
        width: 200px;
        height: 200px;
      }
    }
  }
}
