@import "variables";

main.blog {
  .tag-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 35px;
  }

  .tag {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid darken($layer, 10%);
    background: $layer;
    font-size: 13px;
    cursor: pointer;
    transition: background 0.15s ease-in-out;

    &:hover {
      background: darken($layer, 5%);
    }

    &.active {
      background: $dark;
      color: $light;
      border-color: $dark;
    }
  }

  > .blog-posts {
    display: grid;
    justify-items: stretch;
    gap: 35px;

    @media screen and (min-width: 968px) {
      grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
    }

    article {
      background: $layer;
      padding: 8px 13px 18px;
      border-radius: 5px;
      box-shadow: $layer-shadow;

      @media screen and (min-width: 968px) {
        max-width: 390px;

        &:nth-child(2n) {
          justify-self: flex-end;
        }
      }

      @media screen and (min-width: 1208px) {

        &:nth-child(2n),
        &:nth-child(1),
        &:nth-child(4) {
          justify-self: inherit;
        }

        &:nth-child(2),
        &:nth-child(5) {
          justify-self: center;
        }

        &:nth-child(3n) {
          justify-self: flex-end;
        }
      }

      header {
        margin-bottom: 12px;

        h3 {
          font-size: 22px;
          margin-bottom: 6px;
        }

        time {
          font-size: 13.5px;
          color: $link;
        }
      }

      p {
        line-height: 1.65;
        margin-bottom: 12px;
      }

      .post-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
      }
    }
  }
}

main.blogpost {
  margin-bottom: 58px;

  // BlogPost styles
  .blog-article {
    header {
      padding-bottom: 56px;
      margin-bottom: 44px;

      h2 {
        margin-bottom: 24px;
      }

      time {
        display: block;
        color: $link;
        margin-bottom: 12px;
      }

      .post-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
      }
    }
  }

  .blog-content {
    max-width: 900px;
    line-height: 1.65;
    margin-bottom: 44px;

    h1, h2, h3, h4, h5, h6 {
      margin: 24px 0 12px;
    }

    p {
      margin-bottom: 16px;
    }

    ul, ol {
      margin-bottom: 16px;
      padding-left: 24px;
    }

    li {
      margin-bottom: 6px;
    }

    blockquote {
      border-left: 3px solid $dark;
      padding-left: 16px;
      margin: 16px 0;
      color: $link;
    }

    pre {
      background: $layer;
      box-shadow: $layer-shadow;
      padding: 17px 19px 12px;
      margin-bottom: 16px;
      overflow: auto;
      font-size: 14px;
    }

    code {
      font-size: 14px;
    }

    p code {
      background: $layer;
      padding: 2px 6px;
      border-radius: 3px;
    }

    table {
      border-collapse: collapse;
      margin-bottom: 16px;
      width: 100%;

      th, td {
        border: 1px solid darken($layer, 10%);
        padding: 8px 12px;
        text-align: left;
      }

      th {
        background: $layer;
        font-weight: 600;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      text-decoration: underline;
    }
  }

  nav.main-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    a {
      display: flex;
      align-items: center;
      text-align: center;

      svg {
        margin-left: 0;
        margin-right: 7px;
      }

      &:last-of-type {
        svg {
          margin-left: 7px;
          margin-right: 0;
        }
      }
    }
  }
}
