@import "variables";

main.publications,
main.patents {
  position: relative;
  margin-bottom: 58px;

  h2 {
    margin-bottom: 18px;
  }

  .search-bar {
    padding-bottom: 12px;
    border-radius: 3px 3px 0 0;
    margin-bottom: 60px;

    &:after {
      height: 12px;
      background: repeating-linear-gradient(to right,
          $dark,
          $dark 5px,
          transparent 5px,
          transparent 9px);
      transform: translateX(-1px);
    }

    input {
      font-size: 18px;
      width: 100%;
      padding: 15px 32px 15px 13px;
      color: $dark;
      border: none;
      box-shadow: $layer-shadow;

      &::placeholder {
        color: $dark;
        opacity: 0.7;
        font-weight: 300;
      }

      &:focus {
        outline: none;
      }
    }

    svg {
      font-size: 16px;
      position: absolute;
      top: 21px;
      right: 13px;
      cursor: pointer;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: $link;
      }
    }
  }

  @media screen and (min-width: 968px) {
    h2 {
      margin-bottom: 60px;
    }

    .search-bar {
      display: inline-block;
      width: 388px;
      position: absolute;
      border-radius: 3px;
      padding-bottom: 0;
      right: 20px;
      top: 0;

      &:after {
        display: none;
      }
    }
  }

  >.publications {
    display: grid;
    justify-items: stretch;
    gap: 35px;

    @media screen and (min-width: 968px) {
      grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
    }

    article {
      background: $layer;
      padding: 8px 13px 18px;
      border-radius: 5px;
      box-shadow: $layer-shadow;
      position: relative;

      @media screen and (min-width: 968px) {
        max-width: 390px;

        &:nth-child(2n) {
          justify-self: flex-end;
        }
      }

      @media screen and (min-width: 1208px) {

        &:nth-child(2n),
        &:nth-child(1),
        &:nth-child(4) {
          justify-self: inherit;
        }

        &:nth-child(2),
        &:nth-child(5) {
          justify-self: center;
        }

        &:nth-child(3n) {
          justify-self: flex-end;
        }
      }

      header {
        display: grid;
        grid-template-columns: 1fr auto;
        font-size: 13.5px;
        margin-bottom: 18px;

        h3 {
          font-size: 22px;
          grid-column: 1/3;
          margin-bottom: 12px;
        }

        .authors li {
          display: inline-block;
          margin-right: 5px;
        }
      }

      main {
        margin-bottom: 40px;
      }

      footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        bottom: 18px;
        left: 0;
        width: 100%;
        padding: 0 13px;

        a {
          svg {
            display: inline-block;
            margin-left: 7.5px;
            transform: translateY(1px);
          }
        }

        a:last-of-type {
          justify-self: flex-end;
        }
      }
    }
  }

  nav.pagination {
    max-width: 390px;
    display: flex;
    justify-content: space-between;
    margin: 48px auto;

    button {
      width: 35px;
      height: 35px;
      border-radius: 2px;
      border: none;
      background: $layer;
      cursor: pointer;
      display: grid;
      place-items: center;

      &:disabled {
        color: inherit;
      }

      &:hover {
        background: darken($layer, 5%);
      }

      &.active {
        font-weight: 600;
        border-top: 2.5px solid $dark;
        border-bottom: 2.5px solid $dark;
      }

      svg {
        font-size: 24px;
      }
    }
  }
}
