---
layout: frontmatter
---

{{ content }}

{%- if site.publications.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">Search</h1>
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" >
        </div>
        <div class="search-results" id="search-results" data-placeholder="No
          Results" style="display: none;"></div>
      </div>
    </li>

    {% assign publications = site.publications | sort: 'date' | reverse %}
    {%- for publication in publications -%}
      <li>
        {%- assign date_format = site.darrell.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ publication.url | relative_url }}">
          <h3 class="post-title">{{ publication.header | escape }}</h3>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ publication.date | date: date_format }}
          </div>
          {%- if publication.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in publication.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ publication.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
